@import './main.css';
@import './button.css';
@import './form.css';
@import './pizzaList.css';

@media screen and (max-width: 800px) {
	.container_row > .container_content-wrap {
		grid-column: 2 / span 10;
	}
	.container_row > .container_title-wrap {
    grid-column: 2 / span 10;
}
.container .row-title {
	text-align: center;
}
}
@media screen and (max-width: 500px) {
	.container_row > .container_content-wrap {
		grid-column: auto / span 12;
		margin: 0 10px;
	}
	.container_row > .container_title-wrap {
		grid-column: auto / span 12;
}
	.form_container {
		flex-direction: column;
	}
	.form_container > .form_container-left,
 .form_container-right {
	width: 100%;
	}
	.form_container > .form_container-left {
		margin-bottom: 20px;
	}
	.form_row > .form_row-input {
		width: 90%;
	}
}