/* PIZZA MENU */
.pizza_list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.pizza_list > .pizza_item {
	display: flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 45%;
	overflow: hidden;
}

.pizza_list > .pizza_item:hover {
	background-color: #ebeff5;
}

.pizza_item-photo-wrap {
	width: fit-content;
}

.pizza_item-photo-wrap > .pizza-image {
	width: 80px;
	height: 80px;
	border-radius: 5px;
}

.pizza_list > .pizza_item > .pizza_item-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 10px;
}

.pizza_item-info > .pizza_item-title-wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pizza_item-title-wrap > .pizza_item-title {
	font-size: 1.5em;
	margin: 0;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pizza_item-heat-wrap {
	flex: 0.5;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0 10px;
}

.pizza_item-title-wrap .pizza_item-heat-image {
	margin: 5px;
	width: 15px;
	height: 15px;
}

.pizza_item-title-wrap > .pizza_item-price {
	flex: 0.1;
}
.pizza_item .delete-pizza {
	display: none;
}

.pizza_list > .pizza_item:hover .delete-pizza {
	font-size: 0.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15px;
	padding: 5px 10px;
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	background-color: #b52032;
	border-radius: 15px;
	cursor: pointer;
}